@import 'theme.css';
@import 'ui/index.css';

@import 'layout.css';
@import 'rows/index.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;

    min-height: 100%;

    margin: 0;
}

.editable-text-content {
    @media screen and (prefers-reduced-motion: no-preference) {
        transition: box-shadow 0.2s linear;
    }

    &:hover {
        box-shadow: 0 0 0 1px var(--bg-contrast);
        cursor: text;
    }

    &:focus,
    &:active {
        box-shadow: none;
    }
}

.ripple {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    pointer-events: none;
    clip-path: circle(0px at var(--x, 50%) var(--y, 50%));
    background: rgba(255, 255, 255, 0.6);

    @media screen and (prefers-reduced-motion: no-preference) {
        animation: ripple 0.6s ease-out;
    }
}

@keyframes ripple {
    to {
        clip-path: circle(var(--size) at var(--x, 50%) var(--y, 50%));
        opacity: 0;
    }
}
