.button {
    --button-bg: var(--bg-neutral-on-base);
    --button-bg-hover: var(--bg-neutral);
    --button-bg-active: var(--bg-neutral-secondary);
    --button-text: var(--text-primary);

    border: thin solid transparent;

    cursor: pointer;
    outline: none;

    background-color: var(--button-bg);
    color: var(--button-text);

    @media screen and (prefers-reduced-motion: no-preference) {
        transition: background-color 0.3s ease-in-out;
    }

    &.floating-action-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;

        height: 50px;

        border-radius: 50%;

        font-size: 1em;

        --button-bg: var(--bg-accent-1);
        --button-bg-hover: var(--bg-accent-1-hover);
        --button-bg-active: var(--bg-accent-1-active);
        --button-text: var(--text-accent-1);
    }

    &.icon-button {
        --button-bg: none;
        --button-bg-hover: none;
        --button-bg-active: none;
    }

    &:not(:disabled) {
        @media screen and (hover: hover) {
            &:hover {
                background-color: var(--button-bg-hover);
            }
        }

        &:active {
            background-color: var(--button-bg-active);
        }
    }
}
