.card {
    --bg-color: var(--bg-neutral-on-base);
    --text-color: var(--text-primary);

    position: relative;

    display: flex;
    flex-direction: column;

    width: 124px;
    height: 124px;
    padding: 12px;

    border-radius: 12px;

    background-color: var(--bg-color);
    color: var(--text-color);

    &.img-card {
        padding: 0;

        img {
            width: 100%;
            height: 100%;

            border-radius: 12px;
        }
    }

    &.with-title {
        row-gap: 16px;

        .card-title {
            min-height: 1.5em;

            font-weight: 500;
            font-size: 14px;
        }
    }

    &.secondary {
        --bg-color: var(--bg-neutral);
        --text-color: var(--text-primary);
    }

    &.accent-1 {
        --bg-color: var(--bg-accent-1);
        --text-color: var(--text-accent-1);
    }

    &.dark {
        --bg-color: var(--bg-dark);
        --text-color: var(--text-accent-1);
    }
}
