.styled-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--bg-neutral-secondary) rgba(255, 255, 255, 0.9);

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--bg-neutral-secondary);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 5px;
    }
}
